<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- spring和MyBatis整合，自动扫描映射文件 -->

	<!-- 改用spring boot配置方式 MybatisConfiguration  -->
	<!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="dataSource" />-->
		<!--&lt;!&ndash; 自动扫描mapping.xml文件 &ndash;&gt;-->
		<!--<property name="mapperLocations" value="classpath*:mapping/*.xml"/>-->

	<!--</bean>-->


<!--
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.**.mapper,com.**.dao"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
-->
	<!-- 改用spring boot配置方式 MyBatisMapperScannerConfig -->

	<!--<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--&lt;!&ndash; BaseMapper 不能被扫描到 否则会报错&ndash;&gt;-->
		<!--<property name="basePackage" value="com.cmq.**.mapper,com.**.dao"/>-->
		<!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />-->
		<!--<property name="markerInterface" value="com.base.mapper.common.EmptyMapper"/>-->
		<!--<property name="properties">-->
			<!--<value>-->
				<!--enableMethodAnnotation=true-->
				<!--ORDER=BEFORE-->
				<!--com.base.mapper.common.BaseMapper-->
			<!--</value>-->
		<!--</property>-->
	<!--</bean>-->


</beans>
